/* /Pages/Map.razor.rz.scp.css */
aside[b-04p635aq00] {
    color: #888;
    font-size: 70%;
}

/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
/* /Pages/MapColoring.razor.rz.scp.css */
.map-container[b-jsojw2rjvy] {
    margin-top: 32px;
    text-align: center;
}

[b-jsojw2rjvy] text {
    fill: #ccc;
}

[b-jsojw2rjvy] svg {
    width: 80%;
    height: 60vh;
}

/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
/* /Pages/Sudoku.razor.rz.scp.css */
.sudoku-cells[b-hpwdnuznhw] {
    border-collapse: collapse;
    margin-bottom: 10px;
}

    .sudoku-cells td[b-hpwdnuznhw] {
        border: solid 1px #ccc;
        width: 2em;
        height: 2em;
        text-align: center;
        font-size: 20px;
    }

        .sudoku-cells td input.sudoku-cell[b-hpwdnuznhw] {
            width: 100%;
            text-align: center;
        }
/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-q26byetz63] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-q26byetz63] {
    flex: 1;
}

.sidebar[b-q26byetz63] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-q26byetz63] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-q26byetz63]  a, .top-row .btn-link[b-q26byetz63] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-q26byetz63] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-q26byetz63] {
        display: none;
    }

    .top-row.auth[b-q26byetz63] {
        justify-content: space-between;
    }

    .top-row a[b-q26byetz63], .top-row .btn-link[b-q26byetz63] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-q26byetz63] {
        flex-direction: row;
    }

    .sidebar[b-q26byetz63] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-q26byetz63] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-q26byetz63] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-f8n23s6lf7] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-f8n23s6lf7] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-f8n23s6lf7] {
    font-size: 1.1rem;
}

.oi[b-f8n23s6lf7] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-f8n23s6lf7] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-f8n23s6lf7] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-f8n23s6lf7] {
        padding-bottom: 1rem;
    }

    .nav-item[b-f8n23s6lf7]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-f8n23s6lf7]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-f8n23s6lf7]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-f8n23s6lf7] {
        display: none;
    }

    .collapse[b-f8n23s6lf7] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
/* /Shared/SampleCodeDisplay.razor.rz.scp.css */
.sample-code-control[b-rmruvbzlgj] {
    margin: 32px 0 10px 0;
    font-size: 80%;
}

    .sample-code-control a[b-rmruvbzlgj] {
        cursor: pointer;
        border: solid 1px #aaa;
        padding: 6px 12px;
        display: inline-block;
        border-radius: 8px;
        transition: background-color linear 0.2s;
        user-select: none;
    }

        .sample-code-control a:hover[b-rmruvbzlgj] {
            background-color: #eee;
        }

        .sample-code-control a .caption[b-rmruvbzlgj] {
            width: 13em;
            display: inline-block;
            text-align: center;
        }

.sample-code-container[b-rmruvbzlgj] {
    width: 100%;
}

    .sample-code-container.collapse[b-rmruvbzlgj] {
        display: none;
    }

.sample-code-section[b-rmruvbzlgj] {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 12px;
    box-shadow: rgba(0,0,0,0.4) 2px 2px 4px;
    overflow: hidden;
    margin-bottom: 32px;
}

.file-name[b-rmruvbzlgj] {
    font-family: monospace;
    border: solid 1px #ccc;
    background-color: #ccc;
    padding: 5px 10px;
}

.code-container[b-rmruvbzlgj] {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
    background-color: #eee;
}

    .code-container pre[b-rmruvbzlgj] {
        margin: 0;
        padding: 10px;
        font-size: 75%;
    }

/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
