<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Spprologa Demo</a>
    <button class="navbar-toggler" @onclick="@then("toggle_navmenu.")">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@query("navmenu_css_class(X).")" @onclick="@then("toggle_navmenu.")">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mapcoloring">
                <span class="oi oi-map" aria-hidden="true"></span> Map coloring
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="4x4sudoku">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> 4x4 Sudoku
            </NavLink>
        </li>
    </ul>
</div>

@* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) *@