@page "/counter"

<h1>Counter</h1>

<p>Current count: @query("count(X).")</p>

<button class="btn btn-primary" @onclick="@(then("count_up."))">Click me</button>

<SampleCodeDisplay Component="this" PageName="counter" />

@* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) *@