@page "/"

<h1>Welcome to the "Spproloaga" demo site!</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-info mr-2" aria-hidden="true"></span>
    <span>
        <a href="https://github.com/jsakamoto/Spprologa" target="_blank">"Spprologa"</a> is the open source library to make a "Single Page Prolog Application" built on <a href="https://blazor.net/" target="_blank">"Blazor"</a>.
    </span>
</div>

<h2>Hello, @query("your_name(X)")!</h2>

<div>
    <input type="text" @bind="@fact("your_name({0})").as_string" @bind:event="oninput" />
</div>

<SampleCodeDisplay Component="this" PageName="index" />

@* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) *@