@page "/"

<h1>Hello, @query("your_name(X).")!</h1>

Welcome to your new Spprologa app.

<div>
    <input type="text" @bind="@fact("your_name({0}).").as_string" @bind:event="oninput" />
</div>

<SampleCodeDisplay Component="this" PageName="index" />