.map-container {
    margin-top: 32px;
    text-align: center;
}

::deep text {
    fill: #ccc;
}

::deep svg {
    width: 80%;
    height: 60vh;
}

/* This sample source codes are distributed under The Unlicense. (https://unlicense.org/) */
